body,
html {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
}

body,
main {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 76px;
  background: #2e2c2d;
  justify-content: space-around;
  align-items: center;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}

.nav-ul li {
  background: #c5c6c8;
  padding: 14.4px;
  width: 109px;
  height: 38px;
}

.logo {
  max-width: 227.85px;
  height: 80%;
  background: #7d7e81;
  margin-left: 50px;
}

#search-bar {
  width: 350px;
}

.container {
  display: flex;
  max-width: 1788px;
}

.latest-articles {
  display: flex;
  flex-direction: column;
  width: 950px;
  height: 1008px;
  margin: 50px auto;
  padding: 0 16px;
}

.primary-article,
.other-article {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 419px;
  margin-bottom: 65.1px;
}

.other-article {
  height: 180px;
}

.primary-article-header,
.other-article-header {
  display: flex;
  flex-direction: row;
  height: 179px;
}

.author-pic {
  height: 177px;
  min-width: 177px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #7d7e81;
}

.author,
.article-date,
.article-body,
.continue-reading {
  line-height: 23px;
  font-weight: 700;
  font-size: 21px;
  background: #c5c6c8;
}

.article-body {
  margin: 30px 0;
}

.primary-article-title {
  margin: 25px 0 13px 0;
  font-size: 51px;
  line-height: 1.2;
  vertical-align: center;
  background: #7d7e81;
}

.other-article-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 45px;
  background: #7d7e81;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 489px;
  height: 875px;
  margin: 50px;
  font-size: 21px;
  line-height: 25px;
  background-color: #e7e7e8;
}

.newsletter-pic {
  width: 250px;
  height: 250px;
  background: #535456;
}

.newsletter a {
  width: 324px;
  height: 55px;
  background: #7d7e81;
  padding: 13px 0;
  margin: 40px 0;
  text-align: center;
  line-height: 1.15;
}

.newsletter h2 {
  width: 423px;
  font-weight: 700;
  font-size: 1.5em;
  background: #a3a5a8;
  line-height: 1.2;
}

.newsletter p {
  line-height: 36.15px;
  width: 423px;
  margin: 31px 0;
  background: #c5c6c8;
}

.newsletter form {
  width: 423px;
  height: 67px;
  margin-bottom: 13px;
}

.email-field {
  height: 100%;
  width: 66%;
  background-color: #7d7e81;
}

.submit-btn {
  height: 100%;
  width: 32%;
  background-color: #7d7e81;
}

.newsletter footer {
  height: 36px;
  font-size: 80%;
  white-space: nowrap;
  background: #e7e7e8;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  height: 52px;
}

.link-wrapper div {
  background: #e7e7e8;
}

.link-wrapper > div {
  text-align: center;
  border-bottom: 5px red solid;
  height: 20px;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  background: #e7e7e8;
}

.grid-container-latest-posts {
  display: grid;
  grid-template-columns: repeat(4, 331px);
  grid-template-rows: repeat(3, 652px);
  grid-gap: 100px 100px;
  background: #e7e7e8;
}

.grid-container-latest-posts h2 {
  font-size: 24.6px;
  margin-bottom: 30px;
  background: #7d7e81;
}

.grid-container-latest-posts span {
  padding: 10px 0;
  height: 20px;
  background: #a3a5a8;
}

.grid-container-latest-posts time {
  background: #a3a5a8;
}

.grid-container-latest-posts header {
  margin-bottom: 22px;
}

.post-preview {
  font-size: 22px;
  line-height: 24.95px;
  background: #c5c6c8;
}

.grid-container-latest-posts div {
  display: flex;
  flex-direction: column;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex: 1;
}

.button-wrapper button {
  display: flex;
  justify-content: center;
  width: 18px;
  height: 40px;
  padding: 40px 51px;
  font-size: 30px;
  line-height: 35px;
  justify-self: flex-end;
}

.membership {
  display: flex;
  align-items: center;
  grid-column: 1 / span 2;
}

.membership > div > img {
  width: 250px;
  height: 250px;
  background: #535456;
}

.membership h2 {
  margin-top: 41px;
}

.membership p {
  width: 675px;
  margin: 41px auto;
  background-color: #c5c6c8;
}

.join-the-community {
  width: 310px;
  height: 76px;
  font-size: 1.15em;
  line-height: 36.15px;
  font-weight: 700;
}

.already-have-acct {
  font-size: 80%;
  line-height: 36.15px;
  background-color: #e7e7e8;
}

.book {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1089px;
  margin: 76px auto;
  padding: 76px;
  background: #2e2c2d;
  color: white;
}

.book * {
  text-align: center;
  font-size: 26.2px;
}

.book > header > h2 {
  width: 740px;
  font-size: 51px;
  line-height: 61.1px;
  text-align: center;
  margin: 33px 0;
  letter-spacing: -0.3rem;
  text-decoration: underline;
  background-color: #535456;
}

.book p {
  width: 1090px;
  margin-bottom: 33px;
  line-height: 43px;
  background: #a3a5a8;
}

.toc-btn {
  width: 401px;
  height: 71px;
  margin-bottom: 33px;
  background: #7d7e81;
}

.encourage-clicks-img {
  position: absolute;
  bottom: 50px;
  width: 920px;
  height: 517px;
  background: #535456;
}

.guides {
  display: grid;
  grid-template-columns: repeat(2, 705px);
  grid-template-rows: repeat(3, 443px);
  grid-gap: 100px 50px;
  margin: 0 auto;
}

.js-frameworks {
  width: 705px;
  height: 443px;
}

.js-frameworks span {
  background: #7d7e81;
}

.guides > div {
  display: flex;
  flex-direction: column;
  padding: 43px;
  font-size: 21px;
}

.js-frameworks h2 {
  font-size: 2.15em;
  padding: 10px 0;
  text-decoration: underline;
  background: #535456;
}

.js-frameworks p {
  margin-top: 32px;
  background: #a3a5a8;
}

.js-frameworks button {
  margin-top: 32px;
  padding: 19.65px 0;
  width: 454px;
  height: 70px;
  background: #a3a5a8;
}

.another-newsletter,
.web-performance {
  width: 705px;
  height: 898px;
  margin: 0;
}

.link-wrapper {
  padding: 22px 0 109px 0;
}

.featured-books {
  position: relative;
  display: flex;
  width: 100%;
  height: 402px;
  padding: 54.25px 76px;
  background: #2e2c2d;
  margin: 0 auto;
}

.featured-books span {
  background: #a3a5a8;
}

.featured-books p {
  background: #a3a5a8;
}

.featured-books > div {
  width: 1064px;
}

.featured-books h2 {
  font-size: 46px;
  line-height: 56px;
  font-weight: 700;
  padding: 20px 0;
  background: gray;
}

.featured-books button {
  margin-top: 30.7px;
  font-size: 26px;
}

.featured-books img {
  position: absolute;
  top: 0;
  right: 75px;
  width: 256px;
  height: 100%;
  background: gray;
}

.community-links {
  display: grid;
  margin: 100px auto 0 auto;
  width: 1466px;
  grid-template-columns: repeat(2, 733px);
  grid-template-rows: repeat(4, 371.5px);
  gap: 0 50px;
}

.potw {
  display: flex;
  align-content: center;
  grid-column: 1 / span 2;
}

.potw img {
  width: 242px;
  height: 242px;
  margin-right: 20px;
  background: #535456;
}

.potw-desc {
  display: flex;
  flex-direction: column;
}

.potw-desc h4 {
  background: #7d7e81;
  font-size: 21.7px;
  letter-spacing: 2px;
}

.potw-desc p {
  margin: 30.7px 0;
  line-height: 36.15px;
  font-size: 21.7px;
  background: #a3a5a8;
}

.article {
  display: flex;
  font-size: 21.33px;
  line-height: 24.53px;
}

.article > figure {
  width: 128px;
}

.article > figure > img {
  background: gray;
  width: 80px;
  height: 80px;
}

.article div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.article span {
  background: #c5c6c8;
}

.article p {
  background: #c5c6c8;
}

.article h1 {
  font-size: 36px;
  line-height: 43.2px;
  margin-bottom: 18px;
  font-weight: 700;
  background: #7d7e81;
}

.browse {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background: #2e2c2d;
  color: white;
  font-size: 27px;
  margin-bottom: 100px;
}

.browse > header {
  margin: 50px auto;
  background: #7d7e81;
}

.browse > ul {
  text-align: center;
  margin: 0 auto;
  width: 1498px;
}

.browse > ul > li {
  background: #c5c6c8;
  display: inline-block;
  margin: 17px 10px;
}

.footer-rows {
  display: flex;
  flex-direction: row;
  font-size: 17px;
  line-height: 30px;
  height: 300px;
}

.footer-rows div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.site-info {
  background: #c5c6c8;
}

.footer-row-1 img {
  background: #7d7e81;
  width: 200px;
  height: 200px;
}

.business {
  width: 500px;
  text-align: center;
}

.business li {
  display: inline-block;
  background: #c5c6c8;
}
