body,
html {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 76px;
  border: 1px solid red;
  justify-content: space-around;
  align-items: center;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  border: 1px solid red;
}

.nav-ul li {
  border: 1px solid red;
  padding: 14.4px;
  width: 109px;
  height: 38px;
}

.logo {
  max-width: 227.85px;
  height: 80%;
  border: 1px solid red;
  margin-left: 50px;
}

#search-bar {
  width: 350px;
}

main {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  max-width: 1788px;
}

.latest-articles {
  display: flex;
  flex-direction: column;
  width: 950px;
  height: 1008px;
  margin: 50px auto;
  padding: 0 16px;
}

.primary-article,
.other-article {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 419px;
  border: blue solid 1px;
  margin-bottom: 65.1px;
}

.other-article {
  height: 180px;
}

.primary-article-header,
.other-article-header {
  display: flex;
  flex-direction: row;
  height: 179px;
  border: red solid 1px;
}

.author-pic {
  height: 177px;
  min-width: 177px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: red solid 1px;
}

.author,
.article-date,
.article-body,
.continue-reading {
  line-height: 23px;
  font-weight: 700;
  font-size: 21px;
}

.article-body {
  margin: 30px 0;
}

.primary-article-title {
  margin: 25px 0 13px 0;
  font-size: 51px;
  line-height: 1.2;
  vertical-align: center;
  border: red solid 1px;
}

.other-article-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 45px;
  border: red solid 1px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 489px;
  height: 875px;
  margin: 50px;
  font-size: 21px;
  line-height: 25px;
  border: red 1px solid;
}

.newsletter-pic {
  width: 250px;
  height: 250px;
  border: red solid 1px;
}

.newsletter a {
  width: 324px;
  height: 55px;
  border: red solid 1px;
  padding: 13px 0;
  text-align: center;
  line-height: 1.15;
}

.newsletter h2 {
  width: 423px;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 40px;
  border: 1px solid red;
  line-height: 1.2;
}

.newsletter p {
  line-height: 36.15px;
  width: 423px;
  margin: 31px 0;
  border: 1px solid red;
}

.newsletter form {
  width: 423px;
  height: 67px;
  margin-bottom: 13px;
}

.email-field {
  height: 100%;
  width: 66%;
}

.submit-btn {
  height: 100%;
  width: 32%;
}

.newsletter footer {
  height: 36px;
  font-size: 80%;
  white-space: nowrap;
  border: red 1px solid;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  height: 52px;
}

.link-wrapper > div {
  text-align: center;
  border-bottom: 5px red solid;
  height: 20px;
}

.grid-wrapper {
  margin: 110px auto;
}

.grid-container-latest-posts {
  display: grid;
  grid-template-columns: repeat(4, 331px);
  grid-template-rows: repeat(3, 652px);
  grid-gap: 100px 100px;
}

.grid-container-latest-posts h2 {
  font-size: 24.6px;
  margin-bottom: 30px;
  border: red 1px solid;
}

.grid-container-latest-posts span {
  padding: 10px 0;
  height: 20px;
}

.grid-container-latest-posts header {
  margin-bottom: 22px;
  border: red 1px solid;
}

.post-preview {
  font-size: 22px;
  line-height: 24.95px;
  border: red 1px solid;
}

.grid-container-latest-posts div {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(46, 214, 12);
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex: 1;
}

.button-wrapper button {
  display: flex;
  justify-content: center;
  width: 18px;
  height: 40px;
  padding: 40px 51px;
  border: red 1px solid;
  font-size: 30px;
  line-height: 35px;
  justify-self: flex-end;
}

.blank-div {
  border: 1px red solid;
}

.membership {
  display: flex;
  align-items: center;
  grid-column: 1 / span 2;
  border: 1px red solid;
}

.membership > div > img {
  width: 250px;
  height: 250px;
  border: 1px red solid;
}

.membership h2 {
  margin-top: 41px;
}

.membership p {
  width: 675px;
  margin: 41px auto;
}

.join-the-community {
  width: 310px;
  height: 76px;
  font-size: 1.15em;
  line-height: 36.15px;
  font-weight: 700;
}

.already-have-acct {
  font-size: 80%;
  line-height: 36.15px;
}

.book {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1788px;
  height: 1089px;
  margin: 76px auto;
  padding: 76px;
  background: blue;
}

.book * {
  text-align: center;
  font-size: 26.2px;
}

.book header h2 {
  width: 740px;
  font-size: 51px;
  line-height: 61.1px;
  text-align: center;
  margin: 33px 0;
  letter-spacing: -0.3rem;
  text-decoration: underline;
}

.book p {
  width: 1090px;
  margin-bottom: 33px;
  line-height: 43px;
}

.toc-btn {
  width: 401px;
  height: 71px;
  margin-bottom: 33px;
}

.encourage-clicks-img {
  position: absolute;
  bottom: 50px;
  width: 920px;
  height: 517px;
  background: red;
}

.guides {
  display: grid;
  grid-template-columns: repeat(2, 705px);
  grid-template-rows: repeat(3, 443px);
  grid-gap: 100px 50px;
  margin: 0 auto;
}

.js-frameworks {
  width: 705px;
  height: 443px;
  border: 1px red solid;
}

.guides > div {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  padding: 43px;
  font-size: 21px;
}

.js-frameworks h2 {
  font-size: 2.15em;
  padding: 10px 0;
  text-decoration: underline;
}

.js-frameworks p {
  margin-top: 32px;
}

.js-frameworks button {
  margin-top: 32px;
  padding: 19.65px 0;
  width: 454px;
  height: 70px;
}

.another-newsletter, .web-performance {
  width: 705px;
  height: 898px;
  margin: 0;
}

.link-wrapper {
  padding: 22px 0 109px 0;
}